


  <header>
    <h1>Soft Skillz</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/backendPage.html">首頁</a></li>
      <li class="dropdown" id="userDropdown">
        <a href="#">用戶管理</a>
        <div class="dropdown-content" id="userDropdownContent">
          <a href="#">管理員</a>
          <a href="#">學生</a>
          <a href="#">教師</a>
        </div>
      </li>
      <li class="dropdown" id="courseDropdown">
        <a href="#">課程管理</a>
        <div class="dropdown-content" id="courseDropdownContent">
          <a href="#">課程</a>
          <a href="#">學生行事曆</a>
          <a href="#">學生課程預約</a>
          <a href="#">教師行事曆</a>
        </div>
      </li>
      <li>
        <a href="#">課程訂單管理</a>
        <a href="#">商品管理</a>
        <a href="#">商品訂單管理</a>
        <a href="/index.html">學伴資料管理</a>
        <a href="#">論壇管理</a>
      </li>
    </ul>
  </nav>
  <!-- <section>
    <h2>歡迎來到管理者後台</h2>
    <p>您可以在此進行各種管理操作，包括用戶、課程、訂單和留言的管理。</p>
  </section> -->

</body>

